@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    border: 0;
    list-style: none;
    color: white;
    font-family: "Bangers";
    text-decoration: none;
    font-size: 18px;
}

:root {
    --darkGray: #575c5b;
    --blue: #446c88;
    --mediumGray: #7e8188;
    --gray: #898c8b;
    --lightGray: #bbc0c7;
}