.background {
    width: 100%;
    background-image: url(../../assets/png/batbank-banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 640px;
}

.button {
    display: block;
    background-color: black;
    border-radius: 10px;
    width: 200px;
    padding: 1%;
    text-align: center;
    position: relative;
    margin: 30% auto;
}