@import '../config.css';

.container {
    width: 100%;
    max-width: 1630px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav {
    background-color: var(--blue);
}

picture {
    max-width: 100px;
}

img {
    width: 100%;
    height: 100%;
}

.acessLink {
    width: 100px;
    display: flex;
    justify-content: space-between;
}

.acessLink > *{
    font-size: 20px;
}

.main {
    background-color: var(--gray);
}

.footer {
    height: 100px;
    background-color: var(--lightGray);
}

.footerLink {
    text-decoration: underline;
}